.student-homepage-container {
  margin: 20px 0px 20px 0px !important;

  .take-test-btn {
    height: 80px;
    color: white;

    .sub-text {
      font-size: 14px;
    }
  }

  .table-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .example-photo {
    width: 184px;
    height: 102px;
  }
}
